body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.container {
  position: relative;
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}