.catalog-wrapper {
  float: right;
  width: 560px;
  margin-bottom: 80px;
}

.catalog {
  font-size: 0;
  margin-left: -80px;
}
.catalog-sort {
  margin-bottom: 20px;
  .clearfix();
  &__title {    
    float: left;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    margin-right: 40px;
  }
  &__list {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    .clearfix();
  }
  &__item {
    float: left;  
    margin-right: 45px;
    padding: 0;
    line-height: 18px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #b2b2b2;
    text-decoration: none;
    border-bottom: 1px dotted #00ca74;
    text-transform: uppercase;
  }
  &__indicators {
    float: right;    
  }
}