.page-header {
  padding-top: 23px;
  background-color: @body-color-grey;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // background-color: red;
  }
}
.slider {
}
 