.slider {
  position: relative;
  width: 880px;
  height: 310px;
  margin: 0 auto;  
  &__controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;  
    z-index: 1000;
    &-item {
      display: inline-block;
      width: 4px;
      height: 4px;
      margin: 0 3px;
      background-color: #fff;
      vertical-align: top;
      border: 3px solid #fff;
      border-radius: 50%;
      cursor: pointer;
      &--active {
        background-color: #c1c1c1;
      }
    }
  }
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;  
}
.slide-text {
  width: 380px;
  padding: 30px 0;
  color: #283136;
}
.slide-title {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: #000;
}
.slide {
  display: none;
}
.slide:nth-child(1) {
  display: block;
}
.slide:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}
.slide:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}